div {
    background-color: rgb(34, 18, 92);
    height: 80px;
    border-bottom: orange 4px solid;
}

li {
    color: white;
    font-size: 30px;
    margin: 20px 35px;
    float: left;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
i {
    float: right;
    color: aliceblue;
    font-size: 35px;
    margin: 22px 20px;
}
