table {
    width: 100%;
    border: 1 px black solid;
    border-collapse: collapse;
}
td {
    border: black 1px solid;
    text-align: center;
    height: 50px;
    vertical-align: bottom;
    padding: 10px;
}

tr:nth-child(even){
    background-color: coral;
}

tr:nth-child(odd){
    background-color: cadetblue;
}
