.klasa_div {
    background-color: aliceblue;
    margin: 20px auto;
    width: 350px;
    height: 600px;
    text-align: center;
    border: black solid 1px;
}

img {
    border: 3px black solid;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 15px;
    padding: 5px;
}

.klasah1 {
    background-color: rgb(201, 201, 201);
    border: 2px black solid;
    border-radius: 50px;
    margin: 10px auto;
    padding: 10px;
    width: 125px;
    height: 30px;
    
}

a{
    color: blue;

}

