* {
    padding: 0px;
    margin: 0px;

}

.bar {
    display: inline-block;
    height: 75px;
    width: 100%;
    background-color: #282A35;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.alink {
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: inline-block;
    margin-right: 37px;
}



i {
    color: white;
    size: 45px;
    
}

.alink:hover {
    font-size: 27px;
    color: #04AA6D;
}

.dugme {
    padding: 14px;
    color: white;
    background-color: #04AA6D;
    border-radius: 6px;
    margin-left: 250px;
    width: 105px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dugme2 {
    position: relative;
    padding: 14px;
    color: white;
    background-color: #04AA6D;
    border-radius: 6px;
    left: 820px;
    width: 105px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.drugidiv {
    width: 1035px;
    height: 355px;
    background-color: #D9EEE1;
    position: relative;
    left: 250px;
    top: 30px;
}


#paragraf  {
    position: relative;
    top: 65px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 45px;
}

.dugme3  {
    width: 300px;
    background-color: #04AA6D;
    color: white;
    padding: 13px;
    position: absolute;
    border: none;
    border-radius: 6px;
    left: 45px;
    font-size: 18px;
    margin-top: 87px;
    font-family: Arial, Helvetica, sans-serif;
}


.dugme4 {
    background-color: #282A35;
    margin-top: 160px;
    width: 260px;
}

/* #tekstispod {
    margin-top: 150px ;
    justify-content: center;
    align-items: center;
} */

#prvaslika {
    width: 200px;
    height: 250px ;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    /* margin-top: 20px; */
    position: relative;
    left: 1300px;
    bottom: 550px;


}
#drugaslika {
    width: 200px;
    height: 150px;
    position: relative;
    left: 1095px;
    bottom: 390px;
}

#trecaslika {
    width: 200px;
    height: 180px;
    position: relative;
    left: 891px;
    bottom: 200px;
}

#rotacija
{  
    position: absolute;
    display: inline-block;
    background-color: #FFF4A3;
    transform: rotate(-20deg);
    padding: 7px 15px;
    border-radius: 15px;
    top: 250px;
    left: 20px;
    z-index: 1;
}