.bar {
    display: inline-block;
    height: 75px;
    width: 100%;
    margin: 0px;
    background-color: #4e333a;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}


a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: inline-block;
    margin-right: 37px;
}



i {
    color: white;
    size: 45px;
    
}

a:hover {
    font-size: 32px;
    color: #37ada2;
}

.div_stranica {
    
}