h1 {
    color: red;
}

#poseban {
    color: blue;
}

.naziv_klase {
    color: rgb(224, 18, 197);
}

.nova_klasa {
    color: coral;
    font-size: 40px`;
}

a {
    margin: 120px;
    text-decoration: none;
    background-color: rgb(221, 157, 157);
    font-size: 50px;
    padding: 12px 20px;
    border: rgb(209, 19, 19) 6px solid;
}